<body>
    <div class="jumbotron jumbotron-fluid text-center text-danger bg-dark">
        <div class="container-md">
            <h1 class="display-4">Mongoose Scrape</h1>
            <h4 class="lead">TMZ Style</h4>
            <a href="/scrape" id="{{this.id}}"><button class="btn btn-light "> Scrape New Articles</button></a>
        </div>
    </div>
    {{#each article}}
    <div class="card maincard">

        <div class="media">
            <img class="align-self-center mr-3" src="{{this.img}}" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0">{{this.title}}</h5>
                <p>{{this.sum}}</p>
            </div>
        </div>

        {{#each comments}}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <a href="#" class="card-link"> User: {{this.user}}</a>
                <p class="card-text"> Comment: {{this.body}}</p>


            </div>


        </div>
        {{/each}}
        <a href="/add/{{this.id}}" id="{{this.id}}"><button class="btn btn-dark addcomment float-right "> Add
                Comment</button></a>
    </div>

    {{/each}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="app.js"></script>
</body>