<body>
    <div class="jumbotron jumbotron-fluid text-center text-danger bg-dark">
        <div class="container-md">
            <h1 class="display-4">Mongoose Scrape</h1>
            <h4 class="lead">TMZ Style</h4>
            <a href="/scrape" id="{{this.id}}"><button class="btn btn-light "> Scrape New Articles</button></a>
        </div>
    </div>
    {{#each article}}
    <div class="card maincard">

        <div class="card-body">
            <div class="row">
                <div class="col-5">

                    <img src="{{this.img}}" class="img-fluid rounded" id="img" alt="...">
                </div>
                <div class="col-7">
                    <h5 class="card-title">{{this.title}}</h5>
                </div>
            </div>
            <div class="row">
                <p class="card-text float-left">{{this.sum}}</p>
            </div>
            <div class="row">
                <div class="col">
                    <a href="{{this.link}}" class="card-link">Read Full Story</a>
                </div>
                <div class="col float-right">

                    <h2 class="card-text"> Reader Comments:</h2>

                </div>
            </div>


        </div>
        {{#each comments}}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <a href="#" class="card-link"> User: {{this.user}}</a>
                <p class="card-text"> Comment: {{this.body}}</p>


            </div>


        </div>
        {{/each}}
        <a href="/add/{{this.id}}" id="{{this.id}}"><button class="btn btn-dark addcomment float-right "> Add
                Comment</button></a>
    </div>

    {{/each}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="app.js"></script>
</body>